<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hugging Face Model Downloader</title>
</head>
<body>
    <h1>Available Models</h1>
    
    <form method="post" action="/download_model">
        <select name="selected_model">
            {% for model in models %}
                <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </select>
        <button type="submit">Download Model</button>
    </form>
</body>
</html>
